* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Raleway', sans-serif;
  color: #021730;
}

body {
  background-color: #9AC5F4;
  background-image: url('weather.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;

  display: flex;
  align-items: center;

}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: beige;
  width: 50%;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 3rem;
  gap: 3rem;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2) ;
  backdrop-filter: blur(15px);
}

#header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#input {
  width: 70%;
  font-size: 2.4rem;
  border-radius: 9px;
  border: none;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background-color: rgba(175, 207, 240, 0.514);
  align-self: center;
}

.container-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  font-weight: 700;

}

.container-box:last-child {
  margin-bottom: 1rem;
}

#city{
  font-weight: 900;
  font-size: 2.8rem;
}

#temperature {
  font-weight: 900;
  font-size: 3.8rem;
} 

.container-btn {
  margin-bottom: 2.4rem;
}

button {
  border-radius: 5px;
  border: none;
  background: none;
  padding: 0.5rem;
  margin-right: 1rem;
}

button img {
  width: 2.4rem;
  height: 2.4em;
  background: none;
}

/* Media Queries */

@media all and (max-width: 82em) {
 
  #container {
    width: 70%;
    margin-top: 2rem;
  margin-bottom: 2rem;
  }

  #input {
    width: 85%;
  }
}

@media all and (max-width: 44em) {
  html {
    font-size: 75%;
  }


  button img {
    width: 3rem;
    height: 2em;
    
  }
}

@media all and (max-width: 32em) {
  html {
    font-size: 62.5%;
  } 

  #container {
    background: none;
    backdrop-filter: blur(5px);
    width: 90%;
  }
}